{%extends 'admin_base.html'%}

{%block title%}Quantum Admin Pannel{%endblock%}

{%block content%}


      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                {%for vendor in vendor%}
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{vendor.email}}}</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6>
                </div>
                {%endfor%}
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <!-- <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                    </button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                      <a class="dropdown-item" href="#">January - March</a>
                      <a class="dropdown-item" href="#">March - June</a>
                      <a class="dropdown-item" href="#">June - August</a>
                      <a class="dropdown-item" href="#">August - November</a>
                    </div> -->
                  </div> 
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin transparent">
              <div class="row">

                <div class="col-md-3 mb-4  stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Revenue</p>
                      <p class="fs-30 mb-2">{{total_revenue}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total orders</p>
                      <p class="fs-30 mb-2">{{total_order}}</p>
                    </div>
                  </div>
                  </div>
                


                <div class="col-md-3 stretch-card transparent">
                    <div class="card card-light-danger">
                      <div class="card-body">
                        <p class="mb-4">Cancelled Orders</p>
                        <p class="fs-30 mb-2">{{total_cancelled_orders}}</p>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-3 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card card-light-blue">
                        <div class="card-body">
                          <p class="mb-4">Number of Meetings</p>
                          <p class="fs-30 mb-2">34040</p>
                          <p>2.00% (30 days)</p>
                        </div>
                      </div>
                    </div>
                
                </div>
              </div>
            <!-- </div> -->
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Total Orders</p>
                  <p class="font-weight-500">The total number of Orders in the current year and orders in the selected date rage.</p>

                            <!-- chartjs total orders -->

                            <input type="date" id="order_date" />
                            <canvas id="orderChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Cancelled Orders</p>
                
                 </div>
                  <p class="font-weight-500">The total number of cancelled orders in the year and in the selected range.</p>
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                        <!-- chartjs -->
                        <input type="date" id="cancelled" />
                        <canvas id="cancelledorderChart"></canvas>
                </div>
              </div>
            </div>
          </div>






    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

          <script>
            // Get the data from the context
            var dateToTotalOrders = {{ date_to_total_orders|safe }};
            var dateOfOrder = {{ date_of_order|safe }};
    
             // Specify the target year
             var targetYear = {{current_year}};
    
          // Calculate the total number of orders for the target year
          var totalOrdersForTargetYear = 0;
          for (var i = 0; i < dateOfOrder.length; i++) {
            var date = dateOfOrder[i];
            var year = date.substring(0, 4);
            if (year == targetYear) {
              totalOrdersForTargetYear += dateToTotalOrders[date];
            }
          }
    
          console.log("Total number of orders for " + targetYear + ": " + totalOrdersForTargetYear);
    
            // Get the date input field
            var dateInput1 = document.getElementById('order_date')
    
            // Update the target date and chart when the date input value changes
            dateInput1.addEventListener('change', function() {
              var targetDate1 = this.value;
    
              // Check if the target date exists in the data
              var targetDateExists = false;
              for (var i = 0; i < dateOfOrder.length; i++) {
                var date = dateOfOrder[i];
                if (date == targetDate1) {
                  targetDateExists = true;
                  break;
                }
              }
    
              // Calculate the total number of orders for the target date
              if (targetDateExists) {
                var totalOrdersForTargetDate1 = dateToTotalOrders[targetDate1];
                console.log("Total number of orders for " + targetDate1 + ": " + totalOrdersForTargetDate1);
    
                // Update the chart data
                orderChart.data.labels = [targetDate1];
                orderChart.data.datasets[0].data = [totalOrdersForTargetDate1];
                orderChart.update();
              } else {
                orderChart.data.labels = [targetDate1];
                orderChart.data.datasets[0].data = [0];
                orderChart.update();
    
              }
            });
    
            // Extract the total orders and convert them to an array
            var totalOrders = [];
            for (var date in dateToTotalOrders) {
              totalOrders.push(dateToTotalOrders[date]);
            }
    
            // Create the chart
            var ctx = document.getElementById('orderChart').getContext('2d');
            var orderChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [targetYear],
                datasets: [{
                  label: 'Total Orders',
                  data: [totalOrdersForTargetYear],
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                }
    
              }
            });
    
    
    
    
    
    
          // cancelled_order
            // Get the data from the context
            var dateTocancelledOrders = {{ date_to_cancelled_orders|safe }};
            var dateOfcancelledOrder = {{ date_of_cancelled_order|safe }};
    
             // Specify the target year
             var targetYear = {{current_year}};
    
          // Calculate the total number of orders for the target year
          var totalOrdersForTargetYear = 0;
          for (var i = 0; i < dateOfcancelledOrder.length; i++) {
            var date = dateOfcancelledOrder [i];
            var year = date.substring(0, 4);
            if (year == targetYear) {
              totalOrdersForTargetYear += dateTocancelledOrders[date];
            }
          }
    
          console.log("Total number of orders for " + targetYear + ": " + totalOrdersForTargetYear);
    
            // Get the date input field
            var dateInput2 = document.getElementById('cancelled')
            console.log(dateInput2);
            // Update the target date and chart when the date input value changes
            dateInput2.addEventListener('change', function() {
              var targetDate2 = this.value;
    
    
              // Check if the target date exists in the data
              var targetDateExist = false;
              for (var i = 0; i < dateOfcancelledOrder.length; i++) {
                var date2 = dateOfcancelledOrder [i];
                if (date2 == targetDate2) {
                  targetDateExist = true;
                  break;
                }
              }
    
              // Calculate the total number of orders for the target date
              if (targetDateExist) {
                var totalOrdersForTargetDate2 =dateTocancelledOrders[targetDate2];
                console.log("Total number of cancelled orders for " + targetDate2 + ": " + totalOrdersForTargetDate2);
    
                // Update the chart data
                orderCharts.data.labels = [targetDate2];
                orderCharts.data.datasets[0].data = [totalOrdersForTargetDate2];
                orderCharts.update();
              } else {
                orderCharts.data.labels = [targetDate2];
                orderCharts.data.datasets[0].data = [0];
                orderCharts.update();
                console.log('date not exist')
    
              }
            });
    
            // Extract the total orders and convert them to an array
            var totalOrders = [];
            for (var date in dateTocancelledOrders) {
              totalOrders.push(dateTocancelledOrders[date]);
            }
    
            // Create the chart
            var ctx2 = document.getElementById('cancelledorderChart').getContext('2d');
            var orderCharts = new Chart(ctx2, {
              type: 'bar',
              data: {
                labels: [targetYear],
                datasets: [{
                  label: 'Cancelled Orders',
                data: [totalOrdersForTargetYear],
                backgroundColor: 'rgba(255, 0, 0, 1)',
                borderColor: 'rgba(255, 0, 0, 1)',
                borderWidth: 1
                }]
              },
    
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                }
              }
            });
        </script>
    
{%endblock%}