{%extends 'admin_base.html'%}

{%block title%}Categoy & Brand Management{%endblock%}

{%block content%}


  <!-- partial -->
  <div class="main-panel">
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {%endfor%}
    {%endif%}
    <div class="content-wrapper">
      <div class="row">
<!-- ------------------------------------------------------------------------------------------------Tablee-------------------------------------------------------------------------------------------------- -->
        <div class="col grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-6">
                  <h4 class="card-title">Categories</h4>
             </div>
             <div class="col-sm-6">
<!-- -----------------------------------------------------------------------------------------------Add Category--------------------------------------------------------------------------------- -->
   
                                 <div>
                  <div class="modal fade" id="exampleModalTogglecategory" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">ADD</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form action='/admin/add_category/' name="category" method="POST"  enctype="multipart/form-data" >
                                  {%csrf_token%}
                                  <div class="form-outline mb-5">
                                    <input type="file" accept="image/*" name="logo" >
                                      <label for="floatingInput">Logo</label>
                                    </div>
                                  <div class="form-outline mb-4">
                                    <input type="text"  class="form-control" name="category_name" id="category_name" placeholder="Name" fdprocessedid="dl50sd">
                                    <label for="floatingPassword">Name</label>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="number"  class="form-control" name="commission" id="commission" placeholder="Commission" fdprocessedid="dl50sd">
                                    <label for="floatingPassword">Commission</label>
                                  </div>

                          
                                  </div>
                                  <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="k6q0td">Add</button>
                                </form>
                          </div>
                        </div>
                      </div>

                    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalTogglecategory" role="button">ADD</i></a> 
                  </div>


<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->



<!-- ========================================================================================================Category============================================================================================= -->


                </div>
                 </div> 
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        No
                      </th>
                      <th>
                        Image
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                      Commission
                      </th>

                      <th>
                        <div class="ml-5">
                        Action
                      </div>
                      </th>
                    </tr>
                  </thead>

                
                 {%if category%}
                {%for i in category%}
                  
                  <tbody>
                    <tr>
                      <td class="py-1">
                        {{forloop.counter}}
                      </td>
                      <td>
                        <img src="{{i.category_image.url}}" alt="image" class="image-fluid">
                      </td>
                      <td>
                        {{i.category_name}}
                      </td>
                      <td>
                        {{i.commission}} %
                      </td>
                    
                      <td >
                      

                        <div class="d-flex">
 <!-- -----------------------------------------------------------------------------------------------Edit Category--------------------------------------------------------------------------------- -->
   
 <div>
  <div class="modal fade" id="exampleModalToggle{{i.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Edit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action='/admin/edit_category/{{i.id}}' name="category" method="POST"  enctype="multipart/form-data" >
                  {%csrf_token%}
                  <div class="form-outline mb-5">
                    <input value="{{i.category_image.url}}" type="file" accept="image/*"  name="logo" >
                      <label for="floatingInput"><img src="{{i.category_image.url}}" alt="image" class="image-fluid"></label>
                    </div>
                  <div class="form-outline mb-4">
                    <input value="{{i.category_name}}" type="text"  class="form-control" name="category_name" id="category_name" placeholder="Name" fdprocessedid="dl50sd">
                    <label for="floatingPassword">Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input value="{{i.commission}}" type="text"  class="form-control" name="commission" id="commission" placeholder="Name" fdprocessedid="dl50sd">
                    <label for="floatingPassword">Name</label>
                  </div>

          
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="k6q0td">Add</button>
                </form>
          </div>
        </div>
      </div>

    <a class="btn btn-primary mr-2" data-bs-toggle="modal" href="#exampleModalToggle{{i.id}}" role="button"><i class="fa-solid fa-pen-to-square"></i></a></i></a> 
  </div>


<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->



<!-- ------------------------------------------------------------------------------Delete category-------------------------------------------------------------- -->

<div class="modal fade" id="{{i.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel{{i.id}}">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <p> Are you sure about deleting the Category. <br> You can't retrieve the category details once deleted.</p>
        <a href="/admin/delete_category/{{i.id}}"> <button class="btn btn-danger mt-4">Delete</button></a>

      </div>
    </div>
  </div>
</div>
<button class="btn btn-danger ml-2" data-bs-target="#{{i.id}}" data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->



                    

                      </div>
                      </td> 
                    </tr>

                  </tbody>
                  {%endfor%}
                  {%endif%}
        

      </table>
    </div>
  </div>
      </div>
    </div>



   
   
         




{%endblock%}