{%extends 'admin_base.html'%}

{%block title%}Categoy & Brand Management{%endblock%}

{%block content%}


  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
<!-- ------------------------------------------------------------------------------------------------Tablee-------------------------------------------------------------------------------------------------- -->
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-6">
                  <h4 class="card-title">Categories</h4>
             </div>
             <div class="col-sm-6">
<!-- -----------------------------------------------------------------------------------------------Add Category--------------------------------------------------------------------------------- -->
   
                                 <div>
                  <div class="modal fade" id="exampleModalToggle2{{user.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form action='/admin/add_category/' method="POST"  enctype="multipart/form-data">
                                  {%csrf_token%}
                                  <div class="form-outline mb-5">
                                    <input type="file" name="logo" >
                                      <label for="floatingInput">Logo</label>
                                    </div>
                                  <div class="form-outline mb-4">
                                    <input type="text"  class="form-control" name="category_name" id="category_name" placeholder="Name" fdprocessedid="dl50sd">
                                    <label for="floatingPassword">Name</label>
                                  </div>

                          
                                  </div>
                                  <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="k6q0td">Add</button>
                                </form>
                          </div>
                        </div>
                      </div>

                    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle2{{user.id}}" role="button">ADD</i></a> 
                  </div>


<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->



<!-- ========================================================================================================Brands============================================================================================= -->


                </div>
                 </div> 
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        No
                      </th>
                      <th>
                        Image
                      </th>
                      <th>
                        Name
                      </th>

                      <th style="text-align:center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  {%if category%}
                  {%for i in category%}
                  <tbody>
                    <tr>
                      <td class="py-1">
                        {{i.category_id}}
                      </td>
                      <td>
                        <img src="{{i.category_image.url}}" alt="image" class="image-fluid">
                      </td>
                      <td>
                        {{i.category_name}}
                      </td>
                    
                      <td >
                        <div style="justify-content: space-around;">

                        <div class="d-flex justify-content-between">
                      <h4><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></h4>
                      <h4><a href="#"><i class="fa-solid fa-trash"></i></a></h4>
                    </div>

                      </div>
                      </td> 
                    </tr>

                  </tbody>
             
        {%endfor%}
        {%endif%}

      </table>
    </div>
  </div>
      </div>
    </div>



        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">


<!-- ------------------------------------------------------------------------------------------------Add Brands---------------------------------------------------------------------------------------- -->

                <div class="row ">
                  <div class="col-sm-6">
                    <h4 class="card-title">Brands</h4>
               </div>
               <div class="col-sm-6">

                <div>
                  <div class="modal fade" id="exampleModalToggle2{{user.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form action='/admin/add_brand/{{i.id}}/' method="POST">
                                  {%csrf_token%}
                                  <div class="form-outline mb-4">
                                    <input type="number"  class="form-control" name="category_id" id="floatingInput"  fdprocessedid="eg8k3o">
                                    <label for="floatingInput">No</label>
                                  </div>
                                  <div class="form-outline mb-5">
                                      <input type="image" value="Add image" class="form-control" name="logo" id="floatingInput"  fdprocessedid="eg8k3o">
                                      <label for="floatingInput">Logo</label>
                                    </div>
                                  <div class="form-outline mb-4">
                                    <input type="text"  class="form-control" name="category_name" id="category_name" placeholder="Name" fdprocessedid="dl50sd">
                                    <label for="floatingPassword">Name</label>
                                  </div>

                          
                                  </div>
                                  <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="k6q0td">Add</button>
                                </form>
                          </div>
                        </div>
                      </div>

                    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle2{{user.id}}" role="button">ADD</i></a> 
                  </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                  </div>
                   
                   
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          No
                        </th>
                        <th>
                          Image
                        </th>
                        <th>
                          Name
                        </th>
  
                        <th style="text-align:center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    {%if brands%}
                    {%for i in brands%}
                    <tbody>
                      <tr>
                        <td class="py-1">
                          {{i.brand_id}}
                        </td>
                        <td>
                          {{i.brand_logo}}
                        </td>
                        <td>
                          {{i.brand_name}}
                        </td>
                      
                        <td >
                          <div style="justify-content: space-around;">
  
                          <div class="d-flex justify-content-between">
                        <h4><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></h4>
                        <h4><a href="#"><i class="fa-solid fa-trash"></i></a></h4>
                      </div>
  
                        </div>
                        </td> 
                      </tr>
  
                    </tbody>
                    {%endfor%}
                    {%endif%}
                  </table>
                </div>


              </div>

            </div>
          </div>
  


    </div>
   
         




{%endblock%}